<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pomodoroTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pomodoroTimer.Properties.Settings>
            <setting name="StudyDuration" serializeAs="String">
                <value>00:25:00</value>
            </setting>
            <setting name="BreakDuration" serializeAs="String">
                <value>00:05:00</value>
            </setting>
        </pomodoroTimer.Properties.Settings>
    </userSettings>
</configuration>